<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kieronquinn.app.owoify"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/owoify">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="90" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/owoify" />

    </application>

</manifest>
